
<%= form_tag "/diaries/#{@diary.id}", method: :post do%>
  <div class="field">
    <%= text_field :diary, :title %>
  </div>
  <div class="field">
    <%= text_field :diary, :date %>
  </div>
  <div class="field">
    <%= text_field :diary, :content %>
  </div>
  <div class="actions">
    <%= submit_tag "保存" %>
  </div>
<% end %>
