<p id="notice"><%= notice %></p>

<p>
  <strong  class="item">タイトル:</strong>
  <%= @diary.title  %>
</p>

<p>
  <strong  class="item">日付:</strong>
  <%= @diary.date %>
</p>

<p>
  <strong  class="item">本文:</strong>
  <%= @diary.content %>
</p>

<%= link_to '編集', edit_diary_path(@diary) %> |
<%= link_to '戻る', diaries_path %>
