<!DOCTYPE html>
<html>
<head>
  <title>G-Moves</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="container">
        <div class="header-left">
          <%= link_to "G-Moves","/", class:"logo" %>
        </div>
        <div class="header-right">
          <a href="#" class="login">ログイン</a>
        </div>
  </div>
</header>



<div class="container">
  <%= yield %>
</div>

<div class="container">
  <footer class="footer">
    <div class="small">
      &copy; 2017 G-Moves, Inc.
    </div>
  </footer>
</div>
</body>
</html>
